/node_modules
/public/hot
/public/storage
/public/images
/public/vendor
/public/js
/public/css
/public/fonts
/cypress
/tests/e2e/utils/config.js
public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*-service.json
version.php
version.php
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
.DS_Store
*.icloud
